/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
}

body {
  margin: 24px;
  background-color: #F5F5F5
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px; 
  row-gap: 24px;   
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1128px;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.02);
}


.feedback-form {
  width: 408px;
  height: 296px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Montserrat", sans-serif;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input[type="email"] {
  width: 360px;
  height: 40px;
  padding: 8px 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form button {
  width: fit-content;
  padding: 8px 16px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
} 